.scrollbar-none[data-v-5704e6b4]::-webkit-scrollbar{display:none}.scrollbar-none[data-v-5704e6b4]{-ms-overflow-style:none;scrollbar-width:none}.project-item[data-v-5704e6b4]{will-change:transform,opacity}
