.scrollbar-none[data-v-e0c6cd53]::-webkit-scrollbar{display:none}.scrollbar-none[data-v-e0c6cd53]{-ms-overflow-style:none;scrollbar-width:none}.project-item[data-v-e0c6cd53]{will-change:transform,opacity}
