.scrollbar-none[data-v-28b7d43a]::-webkit-scrollbar{display:none}.scrollbar-none[data-v-28b7d43a]{-ms-overflow-style:none;scrollbar-width:none}.project-item[data-v-28b7d43a]{will-change:transform,opacity}
