.scrollbar-none[data-v-5a2f2f72]::-webkit-scrollbar{display:none}.scrollbar-none[data-v-5a2f2f72]{-ms-overflow-style:none;scrollbar-width:none}.project-item[data-v-5a2f2f72]{will-change:transform,opacity}
