/* Google Sans Display */
@font-face {
  font-family: "Google Sans Display";
  src: url("../fonts/GoogleSansDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Google Sans Display";
  src: url("../fonts/GoogleSansDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Google Sans Display";
  src: url("../fonts/GoogleSansDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Google Sans Text */
@font-face {
  font-family: "Google Sans Text";
  src: url("../fonts/GoogleSansText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Google Sans Text";
  src: url("../fonts/GoogleSansText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Google Sans Text";
  src: url("../fonts/GoogleSansText-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
